<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tournaments">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/trophymain"
        android:label="Tournaments"
        android:roundIcon="@mipmap/trophymain"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Presentation.UserHomeListActivity">
        </activity>
        <activity android:name=".Presentation.SignupActivity" />
        <activity android:name=".Presentation.Prueba" />
        <activity android:name=".Presentation.BracketsActivity"/>

        <activity android:name=".Presentation.AdminHomeActivity" />
        <activity android:name=".Presentation.UserUpdateDataActivity" />
        <activity android:name=".Presentation.MyTournamentsActivity"/>
        <activity android:name=".Presentation.TournamentActivity"/>
        <activity android:name=".Presentation.TeamsActivity"/>

        <activity android:name=".Presentation.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>